 <section
                class="mx-auto py-10 md:py-20 bg-testimonial bg-cover bg-center bg-no-repeat"
                id="booking"
            >
                <div class="mx-auto md:max-w-3xl px-5 md:px-10">
                    <h2
                        class="text-center text-black font-bold text-[25px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl mx-auto"
                        id="booking-heading"
                        data-aos="fade-up"
                    >
                        Book a free session.
                    </h2>
                    <div class="">
                        <p
                            class="text-center text-gray-700 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto"
                            id="booking-paragraph"
                            data-aos="fade-up"
                        >
                            FInd out more or you'll like to speak to our agent.
                        </p>
                    </div>
                <form action="#" method="post" id="booking-form" data-aos="fade-up">
                    <div
                        class="block md:grid md:grid-cols-2 space-y-3 md:space-y-0 md:gap-3"
                    >
                        <input
                            type="text"
                            placeholder="First name*"
                            class="form"
                            name="firstname"
                            required
                        />
                        <input
                            type="text"
                            placeholder="Last name*"
                            class="form"
                            name="lastname"
                            required
                        />
                        <input
                            type="email"
                            placeholder="Email address"
                            class="form"
                            name="email"
                            required
                        />
                        <input
                            type="tel"
                            placeholder="Phone number"
                            class="form"
                            name="phone"
                            required
                        />
                        <input
                            type="text"
                            placeholder="Company name (optional)"
                            name="company"
                            class="form"
                        />
                        <select
                            id="states"
                            class="form"
                            name="options"
                        >
                            <option class="max-w-full" selected>
                                Capacity Development Service
                            </option>
                            <option class="max-w-full">
                                Business Development
                            </option>
                            <option class="max-w-full">
                                Technology Services
                            </option>
                            <option class="max-w-full">
                                Leadership Academy
                            </option>
                            <option class="max-w-full">
                                Project Managament
                            </option>
                            <option class="max-w-full">
                                Agribusiness Services
                            </option>
                            <option class="max-w-full">
                                Research an Data Insight
                            </option>
                        </select>

                        <textarea
                            class="form col-span-2 h-32 resize-none"
                            id=""
                            placeholder="Message..."
                            name="message"
                            required
                        ></textarea>
                    </div>
                    <p id="info" class="text-phosBlue mt-2 tracking-wide text-center hidden">Sending message...</p>
                    <div class="mt-10 text-center">
                        <button
                            type="submit"
                            class="py-3 px-6 bg-phosBlue rounded-3xl text-white text-pbase font-semibold hover:shadow-xl"
                        >
                            Send message
                        </button>
                    </div>
                </form>
                </div>
            </section>