<div class="max-w-7xl mx-auto relative bg-gray-900" >

            <nav class="flex items-center justify-between lg:justify-start top-0 left-0 z-[1000] w-full px-5 md:px-10 py-5 bg-transparent fixed"
                id="navbar"
            >
                {% navbar %}
            </nav>
</div>
