---
title: Contact | Get to meet us
layout: "baseOthers.njk"
permalink: /contact/
---

<header
            class="w-full md:h-[75vh] md:max-h-[500px] pt-14 pb-10 overflow-hidden bg-pattern mt-20 lg:mt-0"
            id="header"
        >
            <div
                class="w-full h-full relative flex flex-col lg:flex-row lg:items-center lg:justify-between max-w-6xl mx-auto px-5 lg:px-0 lg:gap-20"
            >
                <div class="min-h-28">
                    <div class="hero2-content lg:max-w-[100%]">
                        <h1 class="header2-h1">Reach out to us</h1>
                        <p class="header2-p">
                            We offer a range of convenient communication options
                            to suit your preference, including email, phone,
                            social media platforms, or via our physical location
                            if thats what you prefer.
                        </p>
                        <!-- links -->
                        <div
                            class="flex justify-between md:justify-start md:gap-7 items-center text-pbase lg:text-base w-full mt-4"
                        >
                            <a
                                href="/service/"
                                class="py-3 lg:py-4 px-6 lg:px-8 bg-phosBlue2 hover:bg-phosBlue transition-all duration-300 border border-gray-50 rounded-[35px] text-gray-50 text-lg font-semibold"
                                >Our services</a
                            >
                            <a
                                href="/articles/"
                                class="py-3 lg:py-4 px-6 lg:px-8 bg-gray-200 hover:bg-gray-300 transition-all rounded-[35px] text-grey-950 text-lg font-semibold shadow-md"
                                >Articles</a
                            >
                        </div>
                        <!-- links end -->
                    </div>
                </div>
            </div>
</header>
<!-- header section ends -->

<main class="mx-auto">
            <!-- booking section -->
            {% include "booking.njk" %}
            <!-- booking section ends -->
            <div
                class="flex my-10 flex-col md:flex-row justify-between mx-auto max-w-[950px] gap-10 z-[110] px-5 md:px-10"
            >
                <!-- location -->
                <div
                    class=" w-full md:max-w-[80%] md:mx-auto rounded-md bg-phosBlue2 px-2 py-3 md:p-5 mx-auto"
                    data-aos="fade-up"
                >
                    <div class="flex flex-col items-center md:block">
                        <p
                            class="font-semibold text-[18px] md:text-xl text-white capitalize mb-3 text-center"
                        >
                            Address
                        </p>
                        <div
                            class="footer-links text-gray-400 lg:text-left flex flex-row items-start"
                        >
                            <i
                                class="bx bx-current-location text-xl mr-3 mt-1 text-phosOrange"
                            ></i>
                            <div class="">
                                <p
                                    class="font-semibold text-pbase lg:text-base text-gray-200"
                                    class=""
                                >
                                    Head Office:
                                </p>
                                <span
                                    class="text-pbase lg:text-base hover:text-gray-300"
                                    >16, Buckingham street, Portsmouth,
                                    UK.</span
                                >
                            </div>
                        </div>
                        <div
                            class="footer-links text-gray-400 lg:text-left flex flex-row items-start"
                        >
                            <i
                                class="bx bx-current-location text-xl mr-3 mt-1 text-phosOrange"
                            ></i>
                            <div class="">
                                <p
                                    class="font-semibold text-pbase lg:text-base lg:text-base text-gray-200"
                                    class=""
                                >
                                    Branch Office:
                                </p>
                                <span
                                    class="text-pbase lg:text-base hover:text-gray-300"
                                    >Top floor DSTV Buildiing, Liberty road, Off
                                    ring road Ibadan.</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- phone -->
                <a
                    href="tel:+234-705-138-1049"
                    class="w-full md:max-w-[80%] mx-auto overflow-hidden rounded-md bg-phosBlue2 grid grid-rows-2"
                    data-aos="fade-up"
                >
                    <div class="w-full grid place-items-center relative">
                        <h6
                            class="absolute top-3 right-3 capitalize text-white opacity-50 text-[12px] font-semibold"
                        >
                            click to dial our line
                        </h6>
                        <i class="bx bx-phone text-5xl text-phosOrange"></i>
                    </div>
                    <div class="w-full">
                        <p
                            class="font-semibold text-[18px] md:text-xl text-center text-white capitalize mb-5"
                        >
                            Contact Us
                        </p>
                        <p
                            class="font-semibold text-pbase lg:text-base text-center text-gray-300 capitalize mb-5"
                        >
                            +234 (0) 705 138 1049
                        </p>
                    </div>
                </a>
                <!-- mail -->
                <a
                    href="mailto:info@phosconsults.com"
                    class="w-full md:max-w-[80%] mx-auto overflow-hidden rounded-md bg-phosBlue2 grid grid-rows-2"
                    data-aos="fade-up"
                >
                    <div class="w-full grid place-items-center relative">
                        <h6
                            class="absolute top-3 right-5 capitalize text-white opacity-50 text-[12px] font-semibold"
                        >
                            click to mail us
                        </h6>
                        <i class="bx bx-envelope text-5xl text-phosOrange"></i>
                    </div>
                    <div class="w-full">
                        <p
                            class="font-semibold text-[18px] md:text-xl text-center text-white capitalize mb-5"
                        >
                            Mail Us
                        </p>
                        <p
                            class="font-semibold text-pbase lg:text-base text-center text-gray-300 capitalize mb-5"
                        >
                            info@phosconsults.com
                        </p>
                    </div>
                </a>
            </div>
</main>