---
layout: "baseOthers.njk"
title: The best pricing and dealing your enterprise can get today
permalink: /pricing/
---

<header
            class="w-full md:h-[75vh] md:max-h-[500px] pb-8 overflow-hidden mt-20 lg:mt-0 relative"
            id="header"
        >
        <img src="{{ '/assets/images/man-smiling-office.jpg' }}" alt="man customer smiling" class="absolute left-0 w-full object-cover -z-10">
            <div
                class="w-full h-full relative flex flex-col lg:flex-row lg:items-center lg:justify-between max-w-6xl mx-auto px-5 lg:gap-20  mt-14 "
            >
                <div class="min-h-28">
                    <div class="hero2-content lg:max-w-[100%]">
                        <h1 class="tracking-wider max-w-[500px] text-white font-bold md:font-extrabold text-[33px] md:text-[50px]  leading-[1] capitalize;">We offer affordable pricing for all our services</h1>
                        <p class="header2-p text-white mt-2">
                            The best pricing and dealing your enterprise can get today
                        </p>
                        <!-- links -->
                        <div
                            class="flex justify-between md:justify-start md:gap-7 items-center text-pbase lg:text-base w-full mt-4"
                        >
                            <a
                                href="/service/"
                                class="py-3 lg:py-4 px-6 lg:px-8 bg-phosBlue2 hover:bg-phosBlue transition-all duration-300 border border-gray-50 rounded-[35px] text-gray-50 text-lg font-semibold"
                                >Our services</a
                            >
                            <a
                                href="/contact/"
                                class="py-3 lg:py-4 px-6 lg:px-8 bg-gray-200 hover:bg-gray-300 transition-all rounded-[35px] text-grey-950 text-lg font-semibold shadow-md"
                                >Contact</a
                            >
                        </div>
                        <!-- links end -->
                    </div>
                </div>
            </div>
</header>
<main class="w-full bg-gray-50 max-w-[1400px] mx-auto relative px-5 md:px-10 py-10 lg:py-20">
    <h2 class="text-center font-bold text-phosBlue text-2xl lg:text-4xl max-w-3xl mx-auto capitalize">Pricing plans for our employability recruitment</h2>
    <div class="grid gap-10 md:gap-12 lg:gap-14 lg:grid-cols-3 mt-16 items-center">
        <a href="/contact/#booking" data-aos="fade-up">
            <div class="pricing-box">
                <span class="pricing-tier">Tier 1</span>
                <p class="text-phosOrange font-normal text-center text-2xl">N5000<span class="text-base text-gray-200">/month</span></p>
                <ul class="gap-4">
                    <li class="pricing-li"><span class="">&check;</span>1 professional CV</li>
                    <li class="pricing-li"><span class="">&check;</span>1 free cover letter</li>
                    <li class="pricing-li"><span class="">&check;</span>Free 10 mins session with one of our competent consultant</li>
                </ul>
            </div>
        </a>
        <a href="/contact/#booking" data-aos="fade-up">
            <div class="pricing-box lg:scale-[1.05]">
                <span class="pricing-tier">Tier 2</span>
                <p class="text-phosOrange font-normal text-center text-2xl">N10000<span class="text-base text-gray-200">/month</span></p>
                <ul class="gap-4">
                    <li class="pricing-li "><span class="">&check;</span>2 professional CV for 2 different Job roles</li>
                    <li class="pricing-li "><span class="">&check;</span>2 free cover letter</li>
                    <li class="pricing-li "><span class="">&check;</span>Free 10 mins session with one of our competent consultant</li>
                    <li class="pricing-li "><span class="">&check;</span>1 free cv story development</li>
                </ul>
            </div>
        </a>
        <a href="/contact/#booking" data-aos="fade-up">
            <div class="pricing-box">
                <span class="pricing-tier">Tier 3</span>
                <p class="text-phosOrange font-normal text-center text-2xl">N20000<span class="text-base text-gray-200">/month</span></p>
                <ul class="gap-4">
                    <li class="pricing-li"><span class="">&check;</span>4 weeks employability skills training</li>
                    <li class="pricing-li"><span class="">&check;</span>1 professional CV</li>
                    <li class="pricing-li"><span class="">&check;</span>1 free cover letter</li>
                    <li class="pricing-li"><span class="">&check;</span>1 free cv story development</li>
                </ul>
            </div>
        </a>
    </div>
</main>