---
title: Services | Here are our current services
layout: "baseOthers.njk"
permalink: /service/
---

<header
            class="w-full md:h-[75vh] md:max-h-[500px] pt-14 pb-10 overflow-hidden bg-pattern mt-20 lg:mt-0"
            id="header"
        >
            <div
                class="w-full h-full relative flex flex-col lg:flex-row lg:items-center lg:justify-between max-w-6xl mx-auto px-5 lg:px-0 lg:gap-20"
            >
                <div class="min-h-28">
                    <div class="hero2-content lg:max-w-[100%]">
                        <h1 class="header2-h1">
                            We provide Exclusive Consultancy services for your
                            business
                        </h1>
                        <p class="header2-p">
                            Phos Consults focuses on creating simple solutions
                            using practical techniques and trainings to cause
                            transformative changes in your business or
                            organization. Try us today.
                        </p>
                        <!-- links -->
                        <div
                            class="flex justify-between md:justify-start md:gap-7 items-center text-pbase lg:text-base w-full mt-4"
                        >
                            <a
                                href="/contact/"
                                class="py-3 lg:py-4 px-6 lg:px-8 bg-phosBlue2 hover:bg-phosBlue transition-all duration-300 border border-gray-50 rounded-[35px] text-gray-50 text-lg font-semibold"
                                >Contact Us</a
                            >
                            <a
                                href="/articles/"
                                class="py-3 lg:py-4 px-6 lg:px-8 bg-gray-200 hover:bg-gray-300 transition-all rounded-[35px] text-grey-950 text-lg font-semibold shadow-md"
                                >Articles</a
                            >
                        </div>
                        <!-- links end -->
                    </div>
                </div>
            </div>
</header>
<!-- header section ends -->
<main class="mx-auto">
            <!-- services section -->
            {% include "services.njk" %}
            <!-- services section ends -->
            <!-- steps to follow -->
            <div class="py-10 md:py-20 mx-auto bg-phosBlue2">
                <div class="mx-auto max-w-7xl px-5 md:px-10">
                    <h2
                        class="text-center text-white font-bold text-[25px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl tracking-wide flex justify-start md:space-x-5 space-x-2 items-center mx-auto"
                        id="services-heading"
                        data-aos="fade-in"
                    >
                        <span class="w-12 h-[6px] rounded bg-phosOrange"></span>
                        <span class="text-white ml-3"
                            >Fast steps to fulfilling your business vision</span
                        >
                        <span class="w-12 h-[6px] rounded bg-phosOrange"></span>
                    </h2>
                    <div class="">
                        <p
                            class="text-center text-gray-100 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto"
                            id="services-paragraph"
                            data-aos="fade-up"
                        >
                            We excel in both business strategy planning and
                            implementation. We recognize the significance of
                            corporate strategy to every company. From strategic
                            planning to implementation, we'll assist you in
                            transforming your business.
                        </p>
                    </div>
                    <div
                        class="flex flex-col md:flex-row justify-around items-center mt-14 gap-10 md:gap-6 lg:gap-4 md:flex-wrap lg:flex-nowrap"
                    >
                        <article class="flex flex-col items-center">
                            <div
                                class="relative w-20 md:w-24 h-20 md:h-24 rounded-full outline outline-1 md:outline-2 outline-offset-4 outline-phosOrange"
                            >
                                <span
                                    class="absolute -top-4 -right-4 z-20 w-6 h-6 text-pbase font-semibold rounded-full bg-phosOrange shadow text-phosBlue grid place-items-center"
                                    >1</span
                                >
                                <div
                                    class="w-full h-full rounded-full overflow-hidden"
                                >
                                    <img
                                        src="{{ '/assets/images/request-a-quote.jpg' }}"
                                        alt=""
                                        class="w-full object-cover"
                                    />
                                </div>
                            </div>
                            <h5
                                class="capitalize text-pbase md:text-base font-semibold text-phosOrange text-center mt-4"
                            >
                                Request a quote
                            </h5>
                            <p
                                class="text-gray-200 text-sm md:text-pbase text-center mt-1 font-medium"
                            >
                                Request a quote for solution by filling the form
                                below
                            </p>
                        </article>
                        <article class="flex flex-col items-center">
                            <div
                                class="relative w-20 md:w-24 h-20 md:h-24 rounded-full outline outline-1 md:outline-2 outline-offset-4 outline-phosOrange"
                            >
                                <span
                                    class="absolute -top-4 -right-4 z-20 w-6 h-6 text-pbase font-semibold rounded-full bg-phosOrange shadow text-phosBlue grid place-items-center"
                                    >2</span
                                >
                                <div
                                    class="w-full h-full rounded-full overflow-hidden"
                                >
                                    <img
                                        src="{{ '/assets/images/meet-with.jpg' }}"
                                        alt=""
                                        class="h-full object-cover"
                                    />
                                </div>
                            </div>
                            <h5
                                class="capitalize text-pbase md:text-base font-semibold text-phosOrange text-center mt-4"
                            >
                                Meet with our team
                            </h5>
                            <p
                                class="text-gray-200 text-sm md:text-pbase text-center mt-1 font-medium"
                            >
                                We review your requirements and schedule a
                                meeting
                            </p>
                        </article>
                        <article class="flex flex-col items-center">
                            <div
                                class="relative w-20 md:w-24 h-20 md:h-24 rounded-full outline outline-1 md:outline-2 outline-offset-4 outline-phosOrange"
                            >
                                <span
                                    class="absolute -top-4 -right-4 z-20 w-6 h-6 text-pbase font-semibold rounded-full bg-phosOrange shadow text-phosBlue grid place-items-center"
                                    >3</span
                                >
                                <div
                                    class="w-full h-full rounded-full overflow-hidden"
                                >
                                    <img
                                        src="{{ '/assets/images/make-plan.jpg' }}"
                                        alt=""
                                        class="h-full object-cover"
                                    />
                                </div>
                            </div>
                            <h5
                                class="capitalize text-pbase md:text-base font-semibold text-phosOrange text-center mt-4"
                            >
                                Make a plan
                            </h5>
                            <p
                                class="text-gray-200 text-sm md:text-pbase text-center mt-1 font-medium"
                            >
                                We study your business plans and profer the best
                                solution
                            </p>
                        </article>
                        <article class="flex flex-col items-center">
                            <div
                                class="relative w-20 md:w-24 h-20 md:h-24 rounded-full outline outline-1 md:outline-2 outline-offset-4 outline-phosOrange"
                            >
                                <span
                                    class="absolute -top-4 -right-4 z-20 w-6 h-6 text-pbase font-semibold rounded-full bg-phosOrange shadow text-phosBlue grid place-items-center"
                                    >4</span
                                >
                                <div
                                    class="w-full h-full rounded-full overflow-hidden"
                                >
                                    <img
                                        src="{{ '/assets/images/get-started.jpg' }}"
                                        alt=""
                                        class="h-full object-cover"
                                    />
                                </div>
                            </div>
                            <h5
                                class="capitalize text-pbase md:text-base font-semibold text-phosOrange text-center mt-4"
                            >
                                Get started
                            </h5>
                            <p
                                class="text-gray-200 text-sm md:text-pbase text-center mt-1 font-medium"
                            >
                                Execution of business plans and solutions for
                                growth
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <!-- steps to follow end -->
            <!-- booking section -->
            {% include "booking.njk" %}
            <!-- booking section ends -->
</main>