---
title: Phos Consults | Welcome to Phos Consults Ltd
layout: "baseIndex.njk"
---

        <!-- header section starts -->
        <header
            class="w-full h-[90vh] max-h-[768px] md:h-screen clip-path-hero overflow-hidden bg-gray-900"
            id="header"
        >
            <div class="w-full h-full relative">
                <div class="slide active absolute w-full h-full top-0 left-0">
                    <img
                        src="{{ 'assets/images/1.jpg' }}"
                        alt="image-1"
                        class="w-full h-full object-cover"
                    />
                    <div class="hero-content">
                        <h1 class="header-h1">
                            Strategic business development expertise
                        </h1>
                        <p class="header-p">
                            Accelerate business growth with our expert guidance
                            in strategic business development and management.
                        </p>
                    </div>
                </div>

                <div class="slide absolute w-full h-full top-0 left-0">
                    <img
                        src="{{ 'assets/images/2.jpg' }}"
                        alt="image-2"
                        class="w-full h-full object-cover"
                    />
                    <div class="hero-content">
                        <h1 class="header-h1">
                            Data driven research solutions
                        </h1>
                        <p class="header-p">
                            Unlock insights with our data-driven-research
                            solutions for informed decision-making and strategy
                            development
                        </p>
                    </div>
                </div>
                <div class="slide absolute w-full h-full top-0 left-0">
                    <img
                        src="{{ 'assets/images/3.jpg' }}"
                        alt="image-3"
                        class="w-full h-full object-cover"
                    />
                    <div class="hero-content">
                        <h1 class="header-h1">
                            Optimize HR performance with strategic management
                        </h1>
                        <p class="header-p">
                            Maximize your organization's potential by
                            strategically managing human resources to drive
                            productivity and success.
                        </p>
                    </div>
                </div>
                <div class="slide absolute w-full h-full top-0 left-0">
                    <img
                        src="{{ 'assets/images/4.jpg' }}"
                        alt="image-4"
                        class="w-full h-full object-cover"
                    />
                    <div class="hero-content">
                        <h1 class="header-h1">
                            Efficient project management services
                        </h1>
                        <p class="header-p">
                            Expertise seamless project with our efficient
                            project management services.
                        </p>
                    </div>
                </div>
                <div class="slide absolute w-full h-full top-0 left-0">
                    <img
                        src="{{ 'assets/images/firm-handshake.jpg' }}"
                        alt="image-5"
                        class="w-full h-full object-cover"
                    />
                    <div class="hero-content">
                        <h1 class="header-h1">
                            Cutting-edge technology solutions
                        </h1>
                        <p class="header-p">
                            Stay ahead of the curve with our cutting-edge
                            technology solutions for enhanced performance and
                            productivity.
                        </p>
                    </div>
                </div>

                <!-- links -->
                <div
                    class="flex justify-between md:justify-start md:gap-7 items-center text-pbase md:text-base absolute bottom-36 md:bottom-40 px-5 w-full md:ml-16"
                >
                    <a
                        href="/service/"
                        class="py-3 md:py-4 px-5 md:px-8 bg-gray-950 hover:bg-phosBlue transition-all duration-300 border border-gray-50 rounded-[35px] text-gray-50 text-lg font-semibold hover:shadow-xl"
                        >Our services</a
                    >
                    <a
                        href="/about/"
                        class="py-3 md:py-4 px-5 md:px-8 bg-gray-200 hover:bg-gray-400 transition-all rounded-[35px] text-grey-950 text-lg font-semibold hover:shadow-xl"
                        >More about us</a
                    >
                </div>
                <!-- links end -->

                <div
                    class="buttons absolute left-1/2 -translate-x-1/2 bottom-[10%] flex gap-4"
                >
                    <div
                        class="btn w-[8px] h-[8px] rounded-full bg-gray-300 bg-opacity-70 activebtn cursor-pointer"
                    ></div>
                    <div
                        class="btn w-[8px] h-[8px] rounded-full bg-gray-300 bg-opacity-70 cursor-pointer"
                    ></div>
                    <div
                        class="btn w-[8px] h-[8px] rounded-full bg-gray-300 bg-opacity-70 cursor-pointer"
                    ></div>
                    <div
                        class="btn w-[8px] h-[8px] rounded-full bg-gray-300 bg-opacity-70 cursor-pointer"
                    ></div>
                    <div
                        class="btn w-[8px] h-[8px] rounded-full bg-gray-300 bg-opacity-70 cursor-pointer"
                    ></div>
                </div>
                <div
                    class="sticky hidden lg:block max-w-[350px] mr-10 float-right top-[15vh] rounded-md bg-addressHero p-5"
                >
                    <div class="flex flex-col items-center md:block">
                        <p
                            class="font-semibold text-base text-white capitalize mb-5"
                        >
                            Address
                        </p>
                        <div
                            class="footer-links text-gray-400 text-center md:text-left flex flex-col items-center md:flex-row md:items-start"
                        >
                            <i
                                class="bx bx-current-location text-xl mr-3 mt-1 text-phosOrange"
                            ></i>
                            <div class="">
                                <p
                                    class="font-semibold text-base text-gray-200"
                                    class=""
                                >
                                    Head Office:
                                </p>
                                <span
                                    class="hover:text-gray-100 hover:underline"
                                    >16, Buckingham street, Portsmouth,
                                    UK.</span
                                >
                            </div>
                        </div>
                        <div
                            class="footer-links text-gray-400 text-center md:text-left flex flex-col items-center md:flex-row md:items-start"
                        >
                            <i
                                class="bx bx-current-location text-xl mr-3 mt-1 text-phosOrange"
                            ></i>
                            <div class="">
                                <p
                                    class="font-semibold text-base text-gray-200"
                                    class=""
                                >
                                    Branch Office:
                                </p>
                                <span
                                    class="hover:text-gray-100 hover:underline"
                                    >Top floor DSTV Buildiing, Liberty road, Off
                                    ring road Ibadan.</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header section ends -->
        <!-- overview section -->
        <section class="bg-white mx-auto py-10 md:py-20" id="overview">
            <div class="mx-auto max-w-7xl px-3 md:px-10">
                <h2
                    class="text-center text-black font-bold text-[20px] md:text-[40px] md:font-extrabold mb-5 md:max-w-2xl mx-auto"
                    id="overview-heading"
                    data-aos="fade-up"
                >
                    How we work
                </h2>
                <div class="flex flex-col gap-3 md:flex-row">
                    <div class="overview" data-aos="fade-up">
                        <div class="text-center text-gray-200 text-2xl">
                            <span
                                class="material-symbols-outlined text-gray-200"
                            >
                                highlight
                            </span>
                        </div>
                        <h3
                            class="text-white text-[18px] py-2 font-semibold block text-center"
                        >
                            We Innovate
                        </h3>
                        <p
                            class="text-sm md:text-pbase text-gray-200 text-center mb-2"
                        >
                            We innovate systematically, continuously and
                            successfully.
                        </p>
                    </div>
                    <div class="overview" data-aos="fade-up">
                        <div class="text-center text-gray-200 text-2xl">
                            <span
                                class="material-symbols-outlined text-gray-200"
                            >
                                monitoring
                            </span>
                        </div>
                        <h3
                            class="text-white text-[18px] py-2 font-semibold block text-center"
                        >
                            Performance
                        </h3>
                        <p
                            class="text-sm md:text-pbase text-gray-200 text-center mb-2"
                        >
                            Performance is about solving problems and building
                            business.
                        </p>
                    </div>
                    <div class="overview" data-aos="fade-up">
                        <div class="text-center text-gray-200 text-2xl">
                            <span
                                class="material-symbols-outlined text-gray-200"
                            >
                                <span class="material-symbols-outlined">
                                    support_agent
                                </span>
                            </span>
                        </div>
                        <h3
                            class="text-white text-[18px] py-2 font-semibold block text-center"
                        >
                            A Full Service
                        </h3>
                        <p
                            class="text-sm md:text-pbase text-gray-300 text-center mb-2"
                        >
                            We are a full service businness solutions provider.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- overview section ends -->
        <!-- about section -->
        <section class="bg-white mx-auto overflow-hidden" id="about">
            <div
                class="mx-auto max-w-7xl px-3 md:px-10 flex flex-col-reverse md:grid md:grid-cols-2 md:items-center"
            >
                <div class="pt-0 pb-10 md:py-20" id="about-content-left">
                    <h2
                        class="text-black font-bold text-[20px] md:text-[40px] md:font-extrabold mb-5 md:max-w-2xl hidden md:block"
                        data-aos="fade-right"
                    >
                        Why Phos Consults
                    </h2>
                    <p
                        class="text-sm text-gray-700 my-5 md:text-pbase"
                        data-aos="fade-right"
                    >
                        <span class="hidden md:inline-block">
                            Phos Consults is your trusted partner in propelling
                            businesses towards unparalleled success.
                        </span>
                        Our team of seasoned professionals is dedicated to
                        empowering enterprises through a comprehensive suite of
                        services that encompass business strategy, meticulous
                        Research and Data collection, strategic planning,
                        flawless implementation, and innovative IT outsourcing
                        such as: mobile app development, web development, Data
                        Analysis, cyber security e.t.c. With our unwavering
                        commitment to excellence, we unlock the true potential
                        of your organization, revolutionizing every aspect of
                        your operations and driving exponential growth. Discover
                        the transformative power of Phos Consults and embark on
                        a journey of limitless possibilities for your business.
                    </p>
                    <ul
                        class="font-semibold text-sm md:text-pbase"
                        data-aos="fade-right"
                    >
                        <li class="flex items-center mb-2">
                            <span class="material-symbols-outlined mr-3">
                                check_circle
                            </span>
                            Best for business consulting
                        </li>
                        <li class="flex items-center mb-2">
                            <span class="material-symbols-outlined mr-3">
                                check_circle
                            </span>
                            We help plan your business
                        </li>
                        <li class="flex items-center mb-2">
                            <span class="material-symbols-outlined mr-3">
                                check_circle
                            </span>
                            Development of financial models
                        </li>
                        <li class="flex items-center mb-2">
                            <span class="material-symbols-outlined mr-3">
                                check_circle
                            </span>
                            Feasibility studies and business plan
                        </li>
                        <li class="flex items-center">
                            <span class="material-symbols-outlined mr-3">
                                check_circle
                            </span>
                            IT outsourcing
                        </li>
                    </ul>
                    <div class="mt-10" data-aos="fade-right">
                        <a
                            href="/about/"
                            class="py-3 px-6 bg-phosBlue rounded-3xl text-white text-pbase md:text-base font-semibold hover:shadow-xl"
                            >Learn more about us
                        </a>
                    </div>
                </div>
                <div
                    class="relative overflow-hidden"
                    id="about-content-right"
                    data-aos="fade-in"
                >
                    <h2
                        class="text-black font-bold text-[20px] md:text-[40px] md:font-extrabold text-center md:max-w-2xl md:hidden mt-10"
                    >
                        Why Phos Consults
                    </h2>
                    <p
                        class="text-center text-gray-700 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto md:hidden"
                        id="services-paragraph"
                        data-aos="fade-up"
                    >
                        We are skilled in and we offer divers services and
                        strategies that will surely give your business a big
                        boost.
                    </p>
                    {# <div class="md:flex md:align-center w-full h-full"> #}
                        <img
                            src="{{ 'assets/images/about.jpg' }}"
                            alt=""
                            class="w-full aspect-square object-cover mx-auto rounded-lg w-full "
                        />
                    {# </div> #}
                </div>
            </div>
        </section>
        <!-- about section ends -->
        <!-- service section -->
        {% include "services.njk" %}
        <!-- service section ends -->
        <!-- quote section -->
        <section class="bg-phosBlue">
            <div
                class="px-3 md:px-10 mx-auto max-w-7xl flex flex-col md:flex-row items-center justify-between gap-7 md:gap-20 py-14"
                data-aos="fade-right"
            >
                <p
                    class="text-white text-pbase md:text-xl font-semibold max-w-md"
                >
                    Are you looking for professional advice for your business or
                    your industry?
                </p>
                <div class="">
                    <a
                        href="#booking"
                        class="py-3 px-6 bg-white rounded-3xl text-grey-950 text-pbase font-semibold hover:shadow-xl"
                        >Get a free quote</a
                    >
                </div>
            </div>
        </section>
        <!-- quote section ends -->
        <!-- members section starts -->
        <section class="bg-black py-10 md:py-20 w-full" id="members">
            <div class="mx-auto w-full max-w-5xl px-3 md:px-10">
                <h2
                    class="text-center text-white font-bold text-[20px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl mx-auto"
                    id="members-heading"
                    data-aos="fade-up"
                >
                    Meet our Team
                </h2>
                <div class="">
                    <p
                        class="text-center text-gray-50 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto"
                        data-aos="fade-up"
                    >
                        Our business experts have a wide range of knowledge in
                        different fields.
                    </p>
                </div>
                <div
                    class="flex flex-wrap gap-10 md:grid md:grid-cols-3 w-full"
                >
                    <!-- <div
                        class="h-[350px] md:h-[400px] flex justify-center items-center w-full flex-col bg-black rounded-md"
                        data-aos="fade-up"
                    >
                        <div
                            class="aspect-square relative w-[80%] md:w-full overflow-hidden"
                        >
                            <img
                                src="{{ 'assets/images/team1.jpg' }}"
                                alt="our team member"
                                class="w-full mx-auto rounded-md"
                            />
                            <div
                                class="absolute bottom-0 left-0 w-full h-[200px] border-b border-b-black bg-gradient-to-t from-black to-transparent"
                            ></div>
                        </div>
                        <h3
                            class="mt-2 font-semibold tracking-wide text-pbase text-white capitalize"
                        >
                            Enoch Durotoye
                        </h3>
                        <h5 class="text-gray-200 text-sm capitalize">
                            Chairman / Chief consultant
                        </h5>
                    </div> -->
                    <div
                        class="h-[350px] md:h-[400px] flex justify-center items-center w-full flex-col bg-black rounded-md"
                        data-aos="fade-up"
                    >
                        <div
                            class="aspect-square relative w-[80%] md:w-full overflow-hidden"
                        >
                            <img
                                src="{{ 'assets/images/team2.jpg' }}"
                                alt="our team member"
                                class="w-full mx-auto rounded-md"
                            />
                            <div
                                class="absolute bottom-0 left-0 w-full h-[200px] border-b border-b-black bg-gradient-to-t from-black to-transparent"
                            ></div>
                        </div>
                        <h3
                            class="mt-2 font-semibold tracking-wide text-pbase text-white capitalize"
                        >
                            Tosin Godwin
                        </h3>
                        <h5 class="text-gray-200 text-sm capitalize">
                            Business Analyst / project manager
                        </h5>
                    </div>
                    <div
                        class="aspect-square md:h-[400px] flex justify-center items-center w-full flex-col bg-black rounded-md"
                        data-aos="fade-up"
                    >
                        <div
                            class="h-[80%] relative w-[80%] md:w-full overflow-hidden"
                        >
                            <img
                                src="{{ 'assets/images/team3.jpg' }}"
                                alt="our team member"
                                class="w-full mx-auto rounded-md"
                            />
                            <div
                                class="absolute bottom-0 left-0 w-full h-[200px] border-b border-b-black bg-gradient-to-t from-black to-transparent"
                            ></div>
                        </div>
                        <h3
                            class="mt-2 font-semibold tracking-wide text-pbase text-white capitalize"
                        >
                            Victor Eichie
                        </h3>
                        <h5 class="text-gray-200 text-sm capitalize">
                            <span class="uppercase">HRM</span> consultant
                        </h5>
                    </div>
                    <div
                        class="h-[350px] md:h-[400px] flex justify-center items-center w-full flex-col bg-black rounded-md"
                        data-aos="fade-up"
                    >
                        <div
                            class="h-[80%] relative w-[80%] md:w-full overflow-hidden"
                        >
                            <img
                                src="{{ 'assets/images/team4.jpg' }}"
                                alt="our team member"
                                class="w-full mx-auto rounded-md"
                            />
                            <div
                                class="absolute bottom-0 left-0 w-full h-[200px] border-b border-b-black bg-gradient-to-t from-black to-transparent"
                            ></div>
                        </div>
                        <h3
                            class="mt-2 font-semibold tracking-wide text-pbase text-white capitalize"
                        >
                            Ayodeji opeyemi afolayan
                        </h3>
                        <h5 class="text-gray-200 text-sm capitalize">
                            senior coordinator
                        </h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- members section ends -->
        <!-- client section  -->
        <section class="bg-white mx-auto py-10 md:py-20" id="clients">
            <div class="mx-auto max-w-7xl px-3 md:px-0">
                <h2
                    class="text-center text-gray-950 font-bold text-[20px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl mx-auto"
                    id="clients-heading"
                    data-aos="fade-up"
                >
                    Our clients.
                </h2>
                <div class="">
                    <p
                        class="text-center text-gray-700 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto"
                        id="clients-paragraph"
                        data-aos="fade-up"
                    >
                        Here are reputable companies we work with.
                    </p>
                </div>
                <div
                    class="grid grid-cols-2 md:grid-cols-3 lg:flex gap-5 items-start lg:justify-between px-5 md:px-10"
                    id="clients-list"
                >
                    <div class="" data-aos="fade-up">
                        <img
                            src="{{ 'assets/images/client-1.png' }}"
                            alt="Stalite Multinational Concept Limited"
                            class="h-10 md:h-12 opacity-50 hover:opacity-100 transition duration-400"
                        />
                        <p class="text-gray-600 text-sm font-medium mt-3">
                            Stalite Multinational Concept Limited
                        </p>
                    </div>
                    <div class="" data-aos="fade-up">
                        <img
                            src="{{ 'assets/images/client-2.png' }}"
                            alt="Stalite Multinational Concept Limited"
                            class="h-10 md:h-12 opacity-50 hover:opacity-100 transition duration-400"
                        />
                        <p class="text-gray-600 text-sm font-medium mt-3">
                            Gamble Alert
                        </p>
                    </div>
                    <div
                        class="opacity-30 hover:opacity-100 transition duration-400"
                        data-aos="fade-up"
                    >
                        <img
                            src="{{ 'assets/images/client-3.png' }}"
                            alt="Stalite Multinational Concept Limited"
                            class="h-10 md:h-12 opacity-50 hover:opacity-100 transition duration-400"
                        />
                        <p class="text-gray-600 text-sm font-medium mt-3">
                            Microfinance Learning and Development Centre
                        </p>
                    </div>
                    <div class="" data-aos="fade-up">
                        <img
                            src="{{ 'assets/images/client-4.png' }}"
                            alt="Stalite Multinational Concept Limited"
                            class="h-10 md:h-12 bg-gray-300 opacity-50 hover:opacity-100 transition duration-400"
                        />
                        <p class="text-gray-600 text-sm font-medium mt-3">
                            STEMRES
                        </p>
                    </div>
                    <div class="" data-aos="fade-up">
                        <img
                            src="{{ 'assets/images/client-5.png' }}"
                            alt="Pfarms Limited"
                            class="h-10 md:h-12 opacity-50 hover:opacity-100 transition duration-400"
                        />
                        <p class="text-gray-600 text-sm font-medium mt-3">
                            PFARMS LIMITED
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- client section ends  -->
        <!-- testimonial section  -->
        <section
            class="bg-gray-100 mx-auto py-10 md:py-20 clip-path-hero pb-10 md:px-10 lg:px-20"
            id="testimonial"
        >
            <div class="relative pb-5 md:pb-10">
                <div
                    class="mx-auto max-w-5xl px-3 md:px-10 mySwiper overflow-hidden"
                >
                    <h2
                        class="text-center text-gray-950 font-bold text-[20px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl mx-auto"
                        id="testimonial-heading"
                        data-aos="fade-up"
                    >
                        What our clients have to say.
                    </h2>
                    <div class="">
                        <p
                            class="text-center text-gray-800 font-medium text-pbase md:text-base mb-5 md:max-w-2xl mx-auto"
                            id="testimonial-paragraph"
                            data-aos="fade-up"
                        >
                            View positive feedback from our clients on how Phos
                            helped shed the light.
                        </p>
                    </div>

                    <div class="swiper-wrapper max-w-5xl">
                        <article
                            class="swiper-slide flex flex-col items-center"
                        >
                            <!-- <div class="testi-content"> -->
                            <img
                                src="{{ 'assets/images/testi2.jpg' }}"
                                alt="first client"
                                class="w-24 h-24 md:w-32 md:h-32 rounded-full"
                            />
                            <p
                                class="text-sm md:text-base font-medium text-center mt-8 px-3 md:max-w-[90%] lg:max-w-full"
                            >
                                The professionalism and expertise of Phos
                                Consults Limited exceeded our expectations. They
                                not only helped us overcome complex challenges
                                but also empowered our team with the necessary
                                skills and tools for sustainable growth. They
                                truly went above and beyond. We were struggling
                                with strategic decision-making until we engaged
                                Phos Consults. Their team provided invaluable
                                insights and a fresh perspective that
                                transformed our business. We couldn't be happier
                                with the results.
                            </p>
                            <i
                                class="bx bxs-quote-alt-left text-[35px] md:text-[55px] text-phosBlue mt-5 md:mt-8"
                            ></i>
                            <div class="mt-5 md:mt-10 text-center">
                                <h4
                                    class="font-bold text-pbase uppercase text-gray-950"
                                >
                                    Stalite Multinational Concept Limited.
                                </h4>
                                <h5
                                    class="font-normal text-pbase capitalize text-gray-700"
                                >
                                    &nbsp;
                                </h5>
                            </div>
                            <!-- </div> -->
                        </article>
                        <article
                            class="swiper-slide flex flex-col items-center"
                        >
                            <!-- <div class="testi-content"> -->
                            <img
                                src="{{ 'assets/images/testi4.jpg' }}"
                                alt="first client"
                                class="w-24 h-24 md:w-32 md:h-32 rounded-full"
                            />
                            <p
                                class="text-sm md:text-base font-medium text-center mt-8 px-3 md:max-w-[90%] lg:max-w-full"
                            >
                                Working with Phos Consults was an eye-opening
                                experience. Their consultants chalenged our
                                assumptions, identified untapped opportunities
                                and guided us toward innovative solutions.
                                Thanks to their expertise, we achieved
                                breakthrough results and a competitve edge.
                            </p>
                            <i
                                class="bx bxs-quote-alt-left text-[35px] md:text-[55px] text-phosBlue mt-5 md:mt-8"
                            ></i>
                            <div class="mt-5 md:mt-10 text-center">
                                <h4
                                    class="font-bold text-pbase uppercase text-gray-950"
                                >
                                    PFarms Limited
                                </h4>
                                <h5
                                    class="font-normal text-pbase capitalize text-gray-700"
                                >
                                    &nbsp;
                                </h5>
                            </div>
                            <!-- </div> -->
                        </article>
                        <article
                            class="swiper-slide flex flex-col items-center"
                        >
                            <!-- <div class="testi-content"> -->
                            <img
                                src="{{ 'assets/images/testi5.jpg' }}"
                                alt="first client"
                                class="w-24 h-24 md:w-32 md:h-32 rounded-full"
                            />
                            <p
                                class="text-sm md:text-base font-medium text-center mt-8 px-3 md:max-w-[90%] lg:max-w-full"
                            >
                                We engaged Phos Consults for a complex project
                                and they deliverd exceptional results within the
                                agreed timeline and budget. Their team's
                                dedication, attention to detail and ability to
                                navigate challenges were impressive. We would
                                gladly collaborate with them again.
                            </p>
                            <i
                                class="bx bxs-quote-alt-left text-[35px] md:text-[55px] text-phosBlue mt-5 md:mt-8"
                            ></i>
                            <div class="mt-5 md:mt-10 text-center">
                                <h4
                                    class="font-bold text-pbase uppercase text-gray-950"
                                >
                                    Gamble Alert
                                </h4>
                                <h5
                                    class="font-normal text-pbase capitalize text-gray-700"
                                >
                                    Head of Corporate Communications
                                </h5>
                            </div>
                            <!-- </div> -->
                        </article>
                        <article
                            class="swiper-slide flex flex-col items-center"
                        >
                            <!-- <div class="testi-content"> -->
                            <img
                                src="{{ 'assets/images/testi1.jpg' }}"
                                alt="first client"
                                class="w-24 h-24 md:w-32 md:h-32 rounded-full"
                            />
                            <p
                                class="text-sm md:text-base font-medium text-center mt-8 px-3 md:max-w-[90%] lg:max-w-full"
                            >
                                We couldn't be more pleased with the
                                collaborative approach of Phos Consults. Their
                                consultants became an integral part of our team,
                                fostering a culture of continuous improvement
                                and driving positive change. We are grateful for
                                their dedication and coomitment to our Success.
                                From start to finish, Phos Consults demonstrated
                                professionalism, integrity and deep industry
                                knowledge. Their comprehensive analysis and
                                strategic
                            </p>
                            <i
                                class="bx bxs-quote-alt-left text-[35px] md:text-[55px] text-phosBlue mt-5 md:mt-8"
                            ></i>
                            <div class="mt-5 md:mt-10 text-center">
                                <h4
                                    class="font-bold text-pbase uppercase text-gray-950"
                                >
                                    Femi
                                </h4>
                                <h5
                                    class="font-normal text-pbase capitalize text-gray-700"
                                >
                                    Stemres
                                </h5>
                            </div>
                            <!-- </div> -->
                        </article>
                        <article
                            class="swiper-slide flex flex-col items-center"
                        >
                            <!-- <div class="testi-content"> -->
                            <img
                                src="{{ 'assets/images/testi3.jpg' }}"
                                alt="first client"
                                class="w-24 h-24 md:w-32 md:h-32 rounded-full"
                            />
                            <p
                                class="text-sm md:text-base font-medium text-center mt-8 px-3 md:max-w-[90%] lg:max-w-full"
                            >
                                We were impressed by the personalised attention
                                and tailored solutions offered by Phos Consults.
                                Their team took the time to understand our
                                unique needs and delivered exceptional
                                strategies that yielded significant
                                improvements. We highly recommend their
                                services.
                            </p>
                            <i
                                class="bx bxs-quote-alt-left text-[35px] md:text-[55px] text-phosBlue mt-5 md:mt-8"
                            ></i>
                            <div class="mt-5 md:mt-10 text-center">
                                <h4
                                    class="font-bold text-pbase uppercase text-gray-950"
                                >
                                    Raphael
                                </h4>
                                <h5
                                    class="font-normal text-pbase capitalize text-gray-700"
                                >
                                    MLDC
                                </h5>
                            </div>
                            <!-- </div> -->
                        </article>
                    </div>
                    <div
                        class="swiper-button-next nav-btn hidden md:block"
                    ></div>
                    <div
                        class="swiper-button-prev nav-btn hidden md:block"
                    ></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <!-- testimonial section ends -->
        <!-- projects section starts -->
        <section class="bg-white py-10 md:py-20 w-full" id="projects">
            <div class="mx-auto w-full max-w-7xl px-3 md:px-10">
                <h2
                    class="text-center text-black font-bold text-[20px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl mx-auto"
                    id="projects-heading"
                    data-aos="fade-up"
                >
                    View latest projects
                </h2>
                <div class="">
                    <p
                        class="text-center text-gray-700 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto"
                        id="projects-paragraph"
                        data-aos="fade-up"
                    >
                        Our results speak for us. We deliver quality and
                        professional projects you can sure trust as the best.
                    </p>
                </div>
                <div
                    class="flex flex-col gap-5 md:gap-10 md:grid md:grid-cols-3 w-[90%] md:w-auto mx-auto"
                    id="project-links"
                >
                    <a href="#" class="project-link" data-aos="fade-up">
                        <div class="h-36 md:h-auto min-w-[35%]">
                            <img
                                class="object-cover h-full w-full md:w-auto"
                                src="{{ '/assets/images/survey.jpg' }}"
                                alt=""
                            />
                        </div>
                        <div class="p-4">
                            <h5
                                class="mb-2 text-pbase md:text-base font-semibold text-gray-900 dark:text-white"
                            >
                                Baseline and Endline Survey for Livelihood
                                Enhancement Training
                            </h5>
                            <div
                                class="flex items-center justify-between mb-3 text-pbase"
                            >
                                <p
                                    class="font-normal text-gray-700 dark:text-gray-400"
                                >
                                    August, 2022
                                </p>
                                <p
                                    class="font-normal text-gray-700 dark:text-gray-400"
                                >
                                    Client:
                                    <span class="font-semibold"> AFOS</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="project-link" data-aos="fade-up">
                        <div class="h-36 md:h-auto min-w-[35%]">
                            <img
                                class="object-cover h-full w-full md:w-auto"
                                src="{{ '/assets/images/data.jpg' }}"
                                alt=""
                            />
                        </div>
                        <div class="p-4">
                            <h5
                                class="mb-2 text-pbase md:text-base font-semibold text-gray-900 dark:text-white"
                            >
                                Qualitative Data collaction and transcription of
                                the “FUTURE OF WORK” project in Nigeria.
                            </h5>
                            <div
                                class="flex items-center justify-between mb-3 text-pbase"
                            >
                                <p
                                    class="font-normal text-gray-700 dark:text-gray-400"
                                >
                                    May 2022
                                </p>
                                <p
                                    class="font-normal text-gray-700 dark:text-gray-400"
                                >
                                    Client:
                                    <span class="font-semibold"> STEMRES</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="project-link" data-aos="fade-up">
                        <div class="h-36 md:h-auto min-w-[35%]">
                            <img
                                class="object-cover h-full w-full md:w-auto"
                                src="{{ '/assets/images/4.jpg' }}"
                                alt=""
                            />
                        </div>
                        <div class="p-4">
                            <h5
                                class="mb-2 text-pbase md:text-base font-semibold text-gray-900 dark:text-white"
                            >
                                3000 clean data from teachers and lecturers
                                (survey participants) Across The 6 –
                                Geopolitical Zones of Nigeria
                            </h5>
                            <div
                                class="flex items-center justify-between mb-3 text-pbase"
                            >
                                <p
                                    class="font-normal text-gray-700 dark:text-gray-400"
                                >
                                    October 2021
                                </p>
                                <p
                                    class="font-normal text-gray-700 dark:text-gray-400"
                                >
                                    Client:
                                    <span class="font-semibold"> STEMRES</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mt-10 text-center" data-aos="fade-up">
                    <a
                        href="/projects/"
                        class="py-3 px-6 bg-phosBlue rounded-3xl text-pbase text-white text-lg font-semibold hover:shadow-xl"
                        >View more projects</a
                    >
                </div>
            </div>
        </section>
        <!-- projects section ends -->
        <!-- articles section  -->
        <section
            class="bg-phosBlue mx-auto py-10 md:py-20 md:clip-path-article"
            id="articles"
        >
            <div class="mx-auto max-w-7xl px-3 md:px-10">
                <h2
                    class="text-center text-white font-bold text-[25px] md:text-[40px] md:font-extrabold mb-2 md:max-w-2xl mx-auto"
                    id="articles-heading"
                    data-aos="fade-up"
                >
                    View latest articles
                </h2>
                <div class="">
                    <p
                        class="text-center text-gray-100 font-medium text-sm md:text-base mb-5 md:max-w-2xl mx-auto"
                        id="articles-paragraph"
                        data-aos="fade-up"
                    >
                        Our articles features solutions to different issues you
                        may encounter
                    </p>
                </div>
                <div
                    class="flex flex-col gap-5 md:gap-10 md:grid md:grid-cols-3 mx-auto w-[90%] md:w-auto"
                    id="articles-links"
                >
                    {# <a
                        href="#"
                        class="flex flex-col md:flex-row gap-2 bg-white rounded-lg overflow-hidden md:h-52 w-full"
                        data-aos="fade-up"
                    >
                        <div class="h-36 md:h-auto">
                            <img
                                class="object-cover h-full w-full md:w-auto"
                                src="{{'assets/images/soft-skills.jpg'}}"
                                alt=""
                            />
                        </div>
                        <div class="p-4">
                            <h5
                                class="text-base mb-2 font-semibold text-gray-900 dark:text-white"
                            >
                                The Rise Of Soft Skills As The New Power Skills.
                            </h5>
                            <p
                                class="text-sm mb-3 font-normal text-gray-700 dark:text-gray-400"
                            >
                                The demands of the workplace are constantly
                                changing, which is no secret...
                            </p>
                            <p
                                class="text-phosBlue text-sm text-right font-semibold"
                            >
                                Date: May 2022
                            </p>
                        </div>
                    </a>
                    <a
                        href="#"
                        class="flex flex-col md:flex-row gap-2 bg-white rounded-lg overflow-hidden md:h-52 w-full"
                        data-aos="fade-up"
                    >
                        <div class="h-36 md:h-auto">
                            <img
                                class="object-cover h-full w-full md:w-auto"
                                src="{{'assets/images/emotion.jpg'}}"
                                alt=""
                            />
                        </div>
                        <div class="p-4">
                            <h5
                                class="text-base mb-2 font-semibold text-gray-900 dark:text-white"
                            >
                                Improving Emotional Intelligence.
                            </h5>
                            <p
                                class="text-sm mb-3 font-normal text-gray-700 dark:text-gray-400"
                            >
                                Perhaps, we all know someone who listens well,
                                either at work or in...
                            </p>
                            <p
                                class="text-phosBlue text-sm text-right font-semibold"
                            >
                                Date: May 2022
                            </p>
                        </div>
                    </a>
                    <a
                        href="#"
                        class="flex flex-col md:flex-row gap-2 bg-white rounded-lg overflow-hidden md:h-52 w-full"
                        data-aos="fade-up"
                    >
                        <div class="h-36 md:h-auto">
                            <img
                                class="object-cover h-full w-full md:w-auto"
                                src="{{'assets/images/team-building.jpg'}}"
                                alt=""
                            />
                        </div>
                        <div class="p-4">
                            <h5
                                class="text-base mb-2 font-semibold text-gray-900 dark:text-white"
                            >
                                Building A Stronger Team: The Benefits of
                                Effective Team Building
                            </h5>
                            <p
                                class="text-sm mb-3 font-normal text-gray-700 dark:text-gray-400"
                            >
                                Every company wants to promote a happy
                                workplace, increase...
                            </p>
                            <p
                                class="text-phosBlue text-sm text-right font-semibold"
                            >
                                Date: May 2022
                            </p>
                        </div>
                    </a> #}
                    {% if collections.contentfulArticles | length > 2 %}
                        {% for item in collections.contentfulArticles | limit(0, 3)  %}
                            <a
                                href="/articles/{{ item.fields.slug }}"
                                class="flex flex-col md:flex-row gap-2 bg-white rounded-lg overflow-hidden md:h-52 w-full"
                                data-aos="fade-up"
                            >
                                <div class="h-36 md:h-auto">
                                    <img
                                        class="object-cover h-full w-full md:w-auto"
                                        src="{{ item.fields.featuredImage.fields.file.url }}"
                                        alt="{{ item.fields.featuredImage.fields.description }}"
                                    />
                                </div>
                                <div class="p-4">
                                    <h5
                                        class="text-base mb-2 font-semibold text-gray-900 dark:text-white"
                                    >
                                        {{ item.fields.title }}
                                    </h5>
                                    <p
                                        class="text-sm mb-3 font-normal text-gray-700 dark:text-gray-400"
                                    >
                                        {{ item.fields.subtitle | truncateText(100) }}
                                    </p>
                                    <p
                                        class="text-phosBlue text-sm text-right font-semibold"
                                    >
                                        Date: {{ item.fields.publishedDate | formatDate }}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        {% for item in collections.contentfulArticles %}
                            <a
                                href="/articles/{{ item.fields.slug }}"
                                class="flex flex-col md:flex-row gap-2 bg-white rounded-lg overflow-hidden md:h-52 w-full"
                                data-aos="fade-up"
                            >
                                <div class="h-36 md:h-auto">
                                    <img
                                        class="object-cover h-full w-full md:w-auto"
                                        src="{{ item.fields.featuredImage.fields.file.url }}"
                                        alt="{{ item.fields.featuredImage.fields.description }}"
                                    />
                                </div>
                                <div class="p-4">
                                    <h5
                                        class="text-base mb-2 font-semibold text-gray-900 dark:text-white"
                                    >
                                        {{ item.fields.title }}
                                    </h5>
                                    <p
                                        class="text-sm mb-3 font-normal text-gray-700 dark:text-gray-400"
                                    >
                                        {{ item.fields.subtitle | truncateText(100) }}
                                    </p>
                                    <p
                                        class="text-phosBlue text-sm text-right font-semibold"
                                    >
                                        Date: {{ item.fields.publishedDate | formatDate }}
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-10 text-center" data-aos="fade-up">
                    <a
                        href="/articles/"
                        class="py-3 px-6 bg-white rounded-3xl text-grey-950 text-lg font-semibold hover:shadow-xl"
                        >Explore articles</a
                    >
                </div>
            </div>
        </section>
        <!-- articles section ends  -->
        <!-- booking section -->
        {% include "booking.njk" %}
        <!-- booking section ends -->